/* src/components/Lanyard.css */
.lanyard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;       /* Ikut tinggi parent (650px dari AboutPage) */
  background: transparent;
  z-index: 10;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}